*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: tahoma;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
    
    color: white;
}
.back{
    background-color: rgba(192, 192, 192, 0.541);
    padding: 2.5px 20px;
    margin: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    justify-items: start;
    align-items: center;

    margin: 80px;
}
header h1{
    text-transform: uppercase;
    text-shadow: green 0 3px 2px;
}

nav ul {
    list-style-type: none;
}
nav ul li {
    float: left;
}
nav ul li a{
    text-decoration: none;
    margin: 10px;
    padding: 10px;

    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: green;

    border: green 1px solid;
    border-radius: 5px;

    box-shadow: silver 0 10px 3px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container img{
    width: 350px;
    height: 700px;

    position: relative;
    bottom: 10%;
}
.content{
    max-width: 600px;
    margin-left: 150px;
    margin-bottom: 150px;
}
.content p{
    padding: 40px;
    width: 100%;
    font-size: 22px;
}