* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: verdana;
}

body {
    background-image: url(bc.jpg);
    background-size: cover;
    background-attachment: fixed;

    overflow: hidden;
}

.center {
    max-width: 1200px;
    background: rgba(84, 84, 84, 0.612);
    height: 80vh;
    margin: 50px 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bolder;
}

h1 {
    position: relative;
    left: 20px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-shadow: 0 0 30px black, 10px 2.5px 0px black;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #fff;
    text-decoration: none;

    margin: 20px;
    padding: 10px;
}

li a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    border: 1px solid white;
    border-radius: 10px;
}

section {
    text-align: left;
    position: relative;
    top: 100px;
    left: 40px;

    display: flex;
}

section h2,
p {
    width: 500px;
    color: #fff;
    text-shadow: 0 0 15px black;
}

section p {
    margin: 50px 20px;
    font-size: 20px;

    text-shadow: 0 0 15px black;
}

section img {
    position: relative;
    right: 100px;

    filter: brightness(1.5);
    opacity: 0.7;
}

footer {
    display: flex;
    justify-content: space-around;
}

footer img {
    position: relative;
    right: 100px;
    left: 180px;
    bottom: 70px;
    height: 250px;
    filter: brightness(1.5);
    opacity: 0.7;
}

.centerone {
    position: relative;
    bottom: 40px;
    max-width: 1200px;
    background: rgba(84, 84, 84, 0.612);
    height: fit-content;
    margin: 50px 0;
    padding: 20px;

    text-align: left;
    border-radius: 10px;
}

.centerone a {
    color: skyblue;
    text-decoration: none;
}

.centerone a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: blue;
}